@use "../partials/mixins";

.projects{
  @include mixins.centerflex(column, space-around, center);
  gap: 20px;
  width: 50vw;
  &__container{
    width: inherit;
    @include mixins.centerflex(row, center, center);
    @include mixins.phone {
      h3{
        font-size: 30px;
      }
    }
    &__title{
      font-size: 80px;
      padding-right: 50px;
      @mixin phone{
        font-size: 30px;
        padding-right: 0px;
      }
    }
    &__content{
      @include mixins.centerflex(column, center, center);
      overflow: auto;
      width: 40vw;
      height: 100px;
      opacity:0.5;
      transition: 0.5s;
      border-radius: 5px;
      background-color: #C03440;
      border: 0;
      &__img{
        height: auto;
        width: inherit;
        &--beta{
          background-color: #F4F1BB;
        }
        &--gamma {
          background-color: #C7F0BD;

        }
        &--theta{
          background-color: #4C5B61;

        }
      }
      &:hover{
        opacity: 1;
        height: 300px;
        transition: 0.5s;
      }
      &__desc{
        a{
          z-index: 4;
          font-family: Arial;
          letter-spacing: 3px;;
          position: relative;
          bottom: 45px;
          left: 16px;
          z-index: 1;
          background-color: transparent;
          text-decoration: none;
          color: black;
        }

        }
       
    }
  }
}