@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.header {
  animation: fadeIn 0.8s;
}

.sec img {
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .sec img {
    width: 80vw;
    transition: 1s;
    height: auto;
  }
}

.heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.heading-section__h1 {
  border-right: 2px solid black;
  padding-right: 5px;
  animation: blink-caret 1s step-end infinite;
}
