@use "./partials/mixins";

.header {
  animation: fadeIn 0.8s;
}

.sec{
  img{
    border-radius: 10px;
    @include mixins.phone{
      width: 80vw;
      transition: 1s;
      height: auto;
    }
  }
}