@use "./partials/mixins";

@keyframes blink-caret {
  from, to {border-color: transparent}
    50% {border-color: black;}
}

.header {
  animation: fadeIn 0.8s;
}


.sec{
  img{
    border-radius: 10px;
    @include mixins.phone{
      width: 80vw;
      transition: 1s;
      height: auto;
    }
  }
}

.heading-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  
  &__h1{
    border-right: 2px solid black;
    padding-right: 5px;
    animation: blink-caret 1s step-end infinite;
  }
  
  


}

