@mixin centerflex($direct, $just, $alignIt){
  display: flex;
  flex-direction: $direct;
  justify-content: $just;
  align-items: $alignIt;
}

* {
  font-family: avenir;
  background-color: #EDEAE7;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
header{
  @include centerflex(row, space-between, center);
  padding-left: 20px;
  padding-top: 0px;
  margin-top: 0px;
  h1 {
    :hover {
      transition: 0.5s;
      opacity: 1;
    }
    a {
    @include centerflex(column, center, center);
    text-decoration: none;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color:white;
    background: #B9484E;
    font-size: medium;
    opacity: 0.8;
    transition: 0.5s;
    }
  }
}


ul {
  list-style: none;
  @include centerflex(row, flex-end, center);
  gap: 10px;
  padding-right: 20px;
  li {
    :hover{opacity: 1; transition: 0.5s;}
    a {
      @include centerflex(row, center, center);
      color: black;
      text-decoration: none;
      height: 30px;
      width: 80px;
      border-radius: 5px;
      background-color: lightgray;
      opacity: 0.6;
      font-size: small;
      transition: 0.5s;
      .linkedin {
        height: 30px;
        width: 80px;
      }
      img {
        height: 20px;
        width: auto;
      }
    }
  }
}

.linkedin {
  width: 30px;
}

.heading-section {
  font-family: Roboto;
  @include centerflex(column, center, center);
  h1 {
    font-size: 50px;
    height: 10px;
  }

  h3 {
    height: 5px;
  }
}

.info {
  flex-wrap: wrap;
}

.email {
  @include centerflex(row, center, center);
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}