@use "./partials/effects";
@use "./modules/nav.scss";
@use "./modules/footer.scss";
@use "./partials/mixins";
@use "./modules/stack.scss";
@use "./modules/contact.scss";
@use "./modules/timeline.scss";

* {
  font-family: avenir;
  background-color: #EDEAE7;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-section {
  animation: fadeIn 0.8s;
  font-family: Roboto;
  @include mixins.centerflex(column, center, center);
  h1 {
    font-size: 50px;
    height: 10px;
  }
  h3 {
    height: 5px;
  }
}

.sec {
  animation: fadeIn 1.2s;
  @include mixins.centerflex(column, center, center);
  width: 50vw
}

