@use "./partials/effects";
@use "./modules/nav.scss";
@use "./modules/footer.scss";
@use "./partials/mixins";
@use "./modules/stack.scss";
@use "./modules/contact.scss";

* {
  font-family: avenir;
  background-color: #EDEAE7;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.heading-section {
  font-family: Roboto;
  @include mixins.centerflex(column, center, center);
  h1 {
    font-size: 50px;
    height: 10px;
  }
  h3 {
    height: 5px;
  }
}


