@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 0px;
  margin-top: 0px;
  width: 95vw;
}
.header__home__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 30px;
  width: 107px;
  font-size: medium;
  border-radius: 5px;
  color: white;
  background: #C03440;
  opacity: 0.5;
  transition: 0.5s;
}
@media only screen and (max-width: 600px) {
  .header__home__link {
    text-align: center;
    font-size: 8px;
    width: 30px;
    transition: 1s;
  }
}
.header__home__link:hover {
  transition: 0.5s;
  opacity: 1;
}
.header__home__link--select {
  opacity: 1;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}
.header__nav__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  font-size: small;
  border-radius: 5px;
  opacity: 0.6;
  color: black;
  background-color: lightgray;
  text-decoration: none;
  transition: 0.5s;
}
@media only screen and (max-width: 600px) {
  .header__nav__link {
    height: 30px;
    width: 40px;
    transition: 1s;
    font-size: 10px;
  }
}
.header__nav__link--select {
  opacity: 1;
}
.header__nav__link:hover {
  opacity: 1;
  transition: 0.5s;
}
.header__nav__link--icon {
  height: 30px;
  width: 30px;
}
.header__nav__link--icon img {
  height: 20px;
  width: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.info {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 225px;
  width: 55vw;
}
.info legend {
  color: black;
}
.info--back {
  height: 170px;
}
.info__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.info__list__sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50vw;
  border-radius: 5px;
  margin: 5px;
  opacity: 0.7;
  transition: 0.5s;
}
.info__list__sec--html {
  background-color: #D56839;
}
.info__list__sec--css {
  background-color: #3A64E8;
}
.info__list__sec--js {
  background-color: #DDB646;
}
.info__list__sec__language {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.info__list__sec__language--ja {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D93A32;
  height: inherit;
  width: 50%;
  border-start-start-radius: 5px;
  border-bottom-left-radius: 5px;
}
.info__list__sec__language--py {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4975A5;
  height: inherit;
  width: 50%;
  border-end-end-radius: 5px;
  border-top-right-radius: 5px;
}
.info__list__sec--sql {
  background-color: #32738C;
}
.info__list__sec:hover {
  opacity: 1;
  transition: 0.5s;
}

.contact {
  animation: fadeIn 1.2s;
  height: 500px;
}
.contact__fs {
  border: 1px lightgray solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact__fs legend {
  color: lightgray;
}
.contact__fs__ppic img {
  border-radius: 20px;
}
.contact__fs__details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}
.contact__fs__details__cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__fs__details__cat p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact__fs__details__catval {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__fs__details__catval p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline__container {
  padding: 0px 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .timeline__container h3 {
    font-size: small;
  }
  .timeline__container p {
    font-size: 10px;
  }
}
.timeline__container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -12px;
  background-color: white;
  border: 2px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.timeline__container--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: right;
  left: 0;
}
.timeline__container--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  left: 50%;
}
.timeline__container--right::after {
  left: -12px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
.projects__container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .projects__container h3 {
    font-size: 30px;
  }
}
.projects__container__title {
  font-size: 80px;
  padding-right: 50px;
}
.projects__container__content__img {
  z-index: 0;
  width: 40vw;
  height: 100px;
  border-radius: 5px;
  background-color: #C03440;
  border: 0;
  opacity: 0.5;
  transition: 0.5s;
}
.projects__container__content__img--beta {
  background-color: #F4F1BB;
}
.projects__container__content__img--gamma {
  background-color: #C7F0BD;
}
.projects__container__content__img--theta {
  background-color: #4C5B61;
}
.projects__container__content__img:hover {
  opacity: 1;
  height: 200px;
  transition: 0.5s;
}
.projects__container__content__desc {
  font-family: Arial;
  letter-spacing: 3px;
  position: relative;
  bottom: 45px;
  left: 16px;
  z-index: 1;
  background-color: transparent;
}

* {
  font-family: avenir;
  background-color: #EDEAE7;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-section {
  animation: fadeIn 0.8s;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-section h1 {
  font-size: 50px;
  height: 10px;
}
.heading-section h3 {
  height: 5px;
}

.sec {
  animation: fadeIn 1.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
